.basket__container{
    max-width: 900px;
    min-height: 900px;
    background-color: rgb(189, 208, 243);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
}

.basket__title{
    /* border: 1px dashed blue; */
    margin: 0 165px;
    text-align: center;
}

.basket__item_description{
    /* border: 1px dashed red; */
    margin: 0 40px;
}

.basket__item{
    /* border: 1px dashed red; */
    align-items: center;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.3fr;
}

.basket__item_img{
    width: 90px;
    height: 130px;
    margin-left: 30px;
}

img{
    width: 100%;
}

.basket__coupon{
    border-radius: 15px;
    background-color: rgb(246, 172, 13);
    width: 150px;
    height: 60px;
    margin: 0 155px;
    border-style: none;
}

.basket__item_price{
    align-items: right;
}

.basket__total{
    /* border: 1px dashed blue; */
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 50px 130px;
}

h2{
    font-size: 15px;
}