.basket__container{
    border: 1px dashed black;
    /* background-color: cornflowerblue; */
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.basket__items-block{
/* display: grid;
grid-template-columns: 0.3fr 1fr 0.3fr; */
}

.basket__title{
    border: 1px dashed blue;
    margin: 0 165px;
}

.basket__items-block{
    border: 1px dashed green;
}

.basket__item_description{
    border: 1px dashed red;
    margin: 0 40px;
}

.basket__item{
    border: 1px dashed red;
    align-items: center;
    display: grid;
grid-template-columns: 0.1fr 1fr 0.2fr;
}

.basket__item_img{
    border: 1px dashed blue;
width: 90px;
height: 130px;
margin-left: 30px;
}

img{
    width: 100%;
}

.basket__coupon{
    border-radius: 5px;
    background-color: black;
    width: 200px;
    height: 60px;
    margin: 5px;
    color: white;
}

.basket__item_price{
    align-items: end;
}

.basket__total{
    border: 1px dashed blue;
    margin: 0 168px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}